<div class="task-task row">
  <span class="col-xs-6"><strong><%= task.description %></strong></span>
  <span class="col-xs-3"><%= show_category_name( task.category ) %></span>
  <div class="controls col-xs-3">
    <span><%= link_to 'Edit', "/tasks/#{task.id}/edit", { class: 'btn-primary btn' } %></span>
    <span><%= link_to 'Finished', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger btn' %></span>
  </div>
</div>