<% provide( :title, 'Categories' ) %>
<h1>Listing categories<span class='create-new'><%= link_to 'New Category', new_category_path, class: 'btn-large btn-primary pull-right' %></span></h1>

<section class="task-list-wrapper">
  <div class="task-head row">
      <span class="span2">Name</span>
      <div class="span2">
        <div class="row">
          <span class="span2"></span>
          <span class="span2"></span>
          <span class="span2"></span>
        </div>
      </div>
  </div>

  <div class="category-list row">
    <% @categories.each do |category| %>
      <div class="category-category row">
        <span class="span9"><strong><%= category.name %></strong></span>
        <div class="span2">
          <span><%= link_to 'Edit', edit_category_path(category), class: 'btn-success btn' %></span>
          <span><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger btn' %></span>
        </div>
      </div>
    <% end %>
  </div>
</section>



